extends ./layout

block content
    p.
        To start tracking click !{a('#TODO', 'here')}, keep in mind that this is an alpha and I can't guarantee anything will continue working.
        <br>Please only use https(SSL) for the tracking.js as http will most probably create redirection loops.
        <br>If you'd like to help with this project please checkout the repo on !{a('http://github.com/omgimalexis/trk', 'Github')}.
        <br>The current end points are !{a('/metrics', 'Metrics')}, !{a('/blog/reblogalert/online', 'Online')} and !{a('/blog/reblogalert/hits', 'Hits')}
